@value breakpoints "./breakpoints.css";
@value colors "./colors.css";
@value mobile, tablet from breakpoints;
@value dark from colors;

.vertical-timeline {
  width: 95%;
  max-width: 1170px;
  margin: 2em auto;
  position: relative;
  padding: 2em 0;
}
.vertical-timeline::after {
  content: '';
  display: table;
  clear: both;
}
.vertical-timeline::before {
  content: '';
  position: absolute;
  top: 0;
  left: 18px;
  height: 100%;
  width: 4px;
  background: #fff;
}
.vertical-timeline-element-content::before {
  content: '';
  position: absolute;
  top: 16px;
  right: 100%;
  height: 0;
  width: 0;
  border: 7px solid transparent;
  border-right: 7px solid #fff;
}
