@value breakpoints "../style/breakpoints.css";
@value mobile, tablet from breakpoints;
@value colors "../style/colors.css";
@value font "../style/font.css";
@value dark, light, white from colors;
@value FONT_FAMILY from font;

.footer {
  color: white;
  background-color: dark;
  min-height: 120px;
  display: flex;
  padding: 0 80px;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
}

.brand {
  display: flex;
  align-items: center;
}

.logo {
  margin: 0 15px;
  position: relative;
  width: 90px;
}

.links {
  margin: 0;
}

.links a {
  background-color: dark;
  color: #fff;
}

.links a:hover {
  background-color: light;
}

@media tablet, mobile {
  .footer {
    flex-direction: column-reverse;
  }

  .links {
    margin-left: 0;
    margin-bottom: 15px;
  }
}
