.post {
  display: flex;
  align-items: center;
  justify-content: center;
}

.imageWrap {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 50%;
  height: auto;
  padding-bottom: 0;
}

.image {
}

.contentWrap {
  width: 700px;
}

.content {
  margin: 20px;
  padding: 30px;
  background: #fff;
  border-radius: 5px;
  box-shadow: 0 0 12px 1px #bbb;
}

.title {
}

.subtitle {
}

.description {
}
