@value breakpoints "../style/breakpoints.css";
@value mobile, tablet from breakpoints;

@value colors: "../style/colors.css";
@value dark, primary, secondary, white, light from colors;

@value font "../style/font.css";
@value FONT_FAMILY from font;

.project {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  background: #fff;
  color: dark;
  border-radius: 0 15px 15px 0;
  overflow: hidden;
  cursor: pointer;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 2px 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s ease-out;
  text-decoration: none;
  opacity: 0;
  margin-bottom: 10px;
}
.project:hover {
  background-color: #ededed;
}

.show {
  opacity: 1;
  animation: show 0.6s;
}

.hide {
  opacity: 0;
  animation: hide 0.6s;
}

.summary {
  display: flex;
  width: 100%;
}

.sections {
  transition: height 0.3s ease-out;
  overflow-y: scroll;
}

.collapse {
  height: 0;
}

.open {
  height: 500px;
}

.details {
  padding: 15px;
}

.imageHeader {
  flex-shrink: 0;
  width: 120px;
  height: 120px;
  border-radius: 0 12px 12px 0;
  overflow: hidden;
}

@media mobile {
  .imageHeader {
    width: 160px;
    height: 160px;
  }
}

.icon {
  position: absolute;
  top: 0px;
  right: 0px;
  width: 45px;
  height: 45px;
  border-radius: 0 15px 0 15px;
  border-bottom: solid 2px #fff;
  border-left: solid 2px #fff;
  background-color: primary;
  transition: background-color 0.3s ease-out;
}
.icon:hover {
  background-color: secondary;
}

.text {
  font-family: FONT_FAMILY;
  margin: 0;
  padding: 0;
}

.title {
  composes: text;
  font-size: 17px;
}

.description {
  composes: text;
  font-size: 13px;
  line-height: 15px;
  margin-top: 20px;
}

.links {
  display: flex;
  position: absolute;
  top: 0;
  right: 45px;
  flex-direction: row;
}
.link {
  position: relative;
  width: 55px;
  height: 40px;
  margin-right: -10px;
  border-bottom: solid 2px #fff;
  border-left: solid 2px #fff;
  border-radius: 0px 0px 0px 10px;
  background-color: primary;
  display: flex;
  align-items: center;
  transition: background-color 0.3s ease-out;
}
.link:hover {
  background-color: secondary;
}
.linkIcon {
  position: absolute;
  display: flex;
  width: 30px;
  height: 30px;
  right: 17px;
}

@keyframes show {
  0% {
    opacity: 0;
    transform: translateX(300px);
  }
  60% {
    opacity: 1;
    transform: translateX(-20px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes hide {
  0% {
    opacity: 1;
    transform: translateX(0);
  }
  60% {
    opacity: 0.4;
    transform: translateX(-20px);
  }
  100% {
    opacity: 0;
    transform: translateX(300px);
  }
}
