@value breakpoints "../style/breakpoints.css";
@value mobile, tablet from breakpoints;

@value colors "../style/colors.css";
@value dark, light from colors;

.links {
  display: flex;
  list-style: none;
}

.link {
  position: relative;
  background-color: #fff;
  color: dark;
  width: 50px;
  height: 50px;
  margin: 5px;
  border-radius: 50%;
  padding: 10px;
  cursor: pointer;
  transition: all 0.5s ease-out;
}

.link:hover {
  background-color: dark;
  color: #fff;
}

@media mobile {
}
