@value colors: "../style/colors.css";
@value dark from colors;

.timeline {
  width: 80%;
}

.year {
  font-weight: 800;
  font-size: 27px;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 70px;
  border-radius: 0 25px 25px 0;
  z-index: 10;
  margin-left: 20px;
  border: 4px solid #ddd;
  border-left: none;
}

@media only screen and (min-width: 1170px) {
  .year {
    margin-left: 50%;
  }
}

.iconWrap {
  display: flex;
  height: 100%;
  width: 100%;
}

.location {
  font-size: 16px;
  margin-top: 15px;
}

.dates {
  font-style: italic;
  font-size: 13px;
  margin-top: -2px;
}

.description {
  font-size: 15px;
  margin-top: -2px;
}
