@value dark #121212;

.timeline {
  width: 80%;
}

.year {
  font-weight: 800;
  font-size: 30px;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 70px;
  border-radius: 0 25px 25px 0;
  z-index: 10;
  margin-left: 20px;
}

@media only screen and (min-width: 1170px) {
  .year {
    margin-left: 50%;
  }
}

.iconWrap {
  display: flex;
  height: 100%;
  width: 100%;
}

h3.title {
  color: dark;
  margin: 0;
  padding: 0;
}

p.location {
  color: dark;
  font-size: 16px;
  margin: 0;
  margin-top: 15px;
  padding: 0;
}

p.dates {
  color: dark;
  font-style: italic;
  font-size: 13px;
  margin: 0;
  margin-top: -2px;
  padding: 0;
}
