@value breakpoints "../style/breakpoints.css";
@value mobile, tablet from breakpoints;

@value colors: "../style/colors.css";
@value dark, light, dark from colors;

.timelineWrap {
  width: 100%;
  display: flex;
  justify-content: center;
  overflow: hidden;
}

.timeline {
  width: 100%;
  max-width: 640px;
  position: relative;
}

.timeline:before {
  content: '';
  position: absolute;
  top: 30px;
  right: 100%;
  height: 100%;
  width: 22px;
  border-right: 1px solid #e2e2e2;
}

.year {
  font-size: 27px;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 70px;
  border-radius: 0 25px 25px 0;
  z-index: 10;
  margin: 30px 0;
  border: 4px solid dark;
  border-left: none;
}

@media mobile {
  .element {
    height: 160px;
  }
}
